---
title:      <%= title %>
created_at: <%= Time.now.to_y %>
filter:
  - erb
---
<div class="grid_8">
	
	<h1><%%= h(@page.title) %></h1>

	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus.</p>

</div>
