/* Basics - override text.css*/
body {
  border-top: 5px solid #86d1f1;
  border-top: 3px solid #356083;
  background: #E6F5FB;
/*  background: #E6F5FB url(/images/wing.png) no-repeat bottom right;*/
/*  background: #E6F5FB url(/images/chroma.jpg) no-repeat top right;*/
  color: #143347;
  font-size: 14px;
}
a:visited {
  color: #356083;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px; font-style: italic; font-family: Georgia, 'Times New Roman', serif;
}
small {
  font-size: 80%;
}
.clear {
  clear: both;
}
/* Content */
#content {
  margin-bottom: 30px;
}
  #content h2 {
    margin-top: 10px;
  }
  #content h3 {
    margin-top: 20px;
    margin-bottom: 0;
  }
  #content h4 {
    margin-top: 10px;
    margin-bottom: 3px;
  }
  #content p {
    margin-top: 15px;
    margin-bottom: 0;
  }
  #content ul {
    margin-bottom: 0;
  }
  #content ol {
    margin-bottom: 0;
    font-style: italic;
  }
    #content ol li {
      list-style: decimal;
      padding: 5px 5px 5px 0;
    }
  #content table {
    width: 100%;
  }
  #content table td {
    padding: 5px;
    border: 1px solid #ccc;
  }
  #content table.no_border td {
    border: none;
  }
  #twitter {
    border-bottom: 1px solid #ccc;
  }
    .icon {
      float: left;
      width: 17%;
    }
    .tweets {
      float: left;
      width: 75%;
      font-size: 12px;
    }
      .tweets ul {
        list-style: none;
        padding: 0; margin: 0;
      }
        .tweets li {
          margin: 0; padding: 0;
          margin-bottom: 10px;
        }
  #nav {
    float: right;
    text-align: right;
  }
    #nav a {
      display: block;
      text-decoration: none;
      color: #fcfcfc;
      background: #86d1f1;
      background: #ef4a4a;
/*      padding: 2px 10px 2px 10px;*/
      width: 90px;
      text-align: center;
    }
    #nav a:hover {
    }
  #articles {
    border-right: 90px solid #86d1f1;
    border-right: 90px solid #ef4a4a;
    padding: 50px 0 20px 0;
    display: none;
  }
    #articles ul {
      margin: 0;
    }
      #articles li {
        list-style: none;
        margin: 0;
        padding: 5px 5px 5px 0;
      }
    #articles span {
      color: #ccc;
    }
/* Sidebar */
#sidebar {
  margin-top: 160px;
}